body {
    background-image: url("https://previews.123rf.com/images/gamegfx/gamegfx1512/gamegfx151200003/49897601-christmas-reindeer-deer-seamless-line-pattern-tile-background.jpg");

}

h1 {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: darkgreen;
    padding: 10px;
    font-family: fantasy;
}

#submit_button:hover {
    color: red;
}

form {
    background-color: darkgreen;
    color: white;
    font-family: fantasy;
}

input {
    background-color: lightgoldenrodyellow;
}

li {
    background-color: peru;
    font-family: fantasy;
    color: white;
}